<div class=" container px-5">
  <div class="px-4  py-5 my-5 text-center bg-white">
  <h1 class="display-5 fw-bold"> &#x1F698; Alé viré 🌴</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloremque placeat sequi quia molestias sint officia iste dolore. Dolorem corporis reiciendis ducimus nesciunt soluta accusamus autem facilis qui doloremque ad.
    </p>
    <%= link_to 'Nouveau', new_trajet_path, class: "btn btn-primary" %>
    <%= link_to 'Mes trajets', trajets_path(@trajet), class: "btn btn-success" %>
      </div>
  </div>
</div>

<div class="overflow-hidden">
  <div class="container px-5">
    <%= image_tag "10109.jpg", class:"img-fluid border rounded-3 shadow-lg mb-4"%>
  </div>
</div>
