<div class="footer d-flex bg-white" >
  <div class="container d-flex justify-content-between align-items-center">

    <%= link_to pages_home_path, class: "ms-5" do %>
            <%= image_tag"logocalc.png", class:"img ",width:55, alt:"logo-ale-vire" %>
    <% end %>
    <div class="d-flex align-items-center justify-content-center mt-4 me-5">
        <p>
        © 2022 Copyright: Alé Viré
        </p>
    </div>
  </div>
</div>
