 <div class="container" style="margin-bottom: 100%">
  <%= simple_form_for(@trajet) do |f| %>
    <%= f.input :origin_addresse %>
    <%= f.input :destination_addresse %>
  <div class="mx-auto">
      <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
